extends postslayout.pug

block postCards
  each post in posts
    div.card.my-3
      div.card-header
        p #{post.id} : #{post.postedBy}
      div.card-body
        p(style="white-space:pre-wrap") #{post.content}
      div.card-footer
        p 投稿日：#{post.formattedCreatedAt}
        - var isAdmin = (userName === 'admin')
        if isAdmin 
          p 投稿者：#{post.postedBy}
        - var isDeleted = (isAdmin || userName === post.postedBy)
        if isDeleted
          form(action="/posts/delete", method="post")
            input(type="hidden", name="id" value=post.id)
            button.btn.btn-danger.float-right(type="submit") 削除
